@model IEnumerable<Demo_shopping.Models.CategoriesModel>
@{
    ViewData["title"] = "Category_Listed";
}

<div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded p-4">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <h3 class="mb-0">Danh sách danh mục</h3>
            <a asp-action="Create" asp-controller="Category"
               class="btn btn-primary btn-rounded px-4 py-2 d-flex align-items-center"
               style="border-radius: 4px; margin-bottom: 10px">
                <i class="fas fa-plus-circle me-2"></i> Thêm danh mục
            </a>
        </div>

        <div class="table-responsive">
            <table class="table table-sm text-start align-middle table-bordered table-hover mb-0">

                <thead>
                    <tr class="text-dark">
                        <th scope="col">#</th>
                        <th scope="col">Tên danh mục</th>
                        <th scope="col">Mô tả danh mục</th>
                        <th scope="col">Slug</th>
                        <th scope="col">Trạng thái danh mục</th>
                        <th scope="col">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int index = Model.Count();
                    }
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>@index</td>
                            <td>@product.Name</td>
                            <td>@Html.Raw(product.Description)</td>
                            <td>@product.Slug</td>
                            <td>
                                @if(@product.Status == 1)
                                {
                                   <span class="text text-success">Sử dụng</span>
                                }
                                else
                                {
                                    <span class="text text-danger">Không sử dụng</span>
                                }
                            </td>
                            <td>
                                <a asp-action="Edit" asp-controller="Category" asp-route-Id="@product.Id" class="btn btn-sm btn-warning me-2">
                                    <i class="fas fa-edit"></i> Sửa
                                </a>
                                <a asp-action="Delete" asp-controller="Category" asp-route-Id="@product.Id" class="btn btn-sm btn-danger"
                                   onclick="return confirm('Bạn có chắc chắn muốn xóa sản phẩm này không?');">
                                    <i class="fa fa-trash"></i> Xóa
                                </a>
                            </td>
                        </tr>
                        index--;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
